
<!--
<div id="header">
	
	<h1>The Perfect HMM Shop</h1>
	
	
</div>







<div class="maincontent">
	






			<div class="col_left">
				
				<h2>Left Menu</h2>
				
				
			</div>















			<div class="col_center">
				
				
				<div id = "mainbox1">

					<h2> details of the label here!</h2>


				</div>



				<div id = "mainbox2">

					<h2> list of labels as clickable buttons buttons grouped under use cases roughly</h2>



					<table style="width:100%">
					  <tr>
					    
					    <td><%= link_to "ForumPosts", {controller: "forum_posts", action: "index"}, class: "labels" %></td>
					    <td><%= link_to "ForumPosts", {controller: "forum_posts", action: "index"}, class: "labels" %></td>
					    <td><%= link_to "ForumPosts", {controller: "forum_posts", action: "index"}, class: "labels" %></td>
					    <td><%= link_to "ForumPosts", {controller: "forum_posts", action: "index"}, class: "labels" %></td>
					    <td><%= link_to "ForumPosts", {controller: "forum_posts", action: "index"}, class: "labels" %></td>
					    <td><%= link_to "ForumPosts", {controller: "forum_posts", action: "index"}, class: "labels" %></td>
					    <td><%= link_to "ForumPosts", {controller: "forum_posts", action: "index"}, class: "labels" %></td>
					    <td><%= link_to "ForumPosts", {controller: "forum_posts", action: "index"}, class: "labels" %></td>
					    <td><%= link_to "ForumPosts", {controller: "forum_posts", action: "index"}, class: "labels" %></td>
					    <td><%= link_to "ForumPosts", {controller: "forum_posts", action: "index"}, class: "labels" %></td>
					    <td><%= link_to "ForumPosts", {controller: "forum_posts", action: "index"}, class: "labels" %></td>
					    <td><%= link_to "ForumPosts", {controller: "forum_posts", action: "index"}, class: "labels" %></td>
					    <td><%= link_to "ForumPosts", {controller: "forum_posts", action: "index"}, class: "labels" %></td>
					    <td><%= link_to "ForumPosts", {controller: "forum_posts", action: "index"}, class: "labels" %></td>
					 
					  </tr>
					  <tr>
					    <td>Eve</td>
					    <td>Jackson</td> 
					    <td>94</td>
					  </tr>
					</table>


				</div>









				
			</div>







			<div class="col_right">
				
				Right Column Stuff
				
			</div>
	
</div>






<div id="footer">
	

     Footer Stuff Here
</div>
-->
<h1>HomePage</h1>



