<!DOCTYPE html>
<html>
<head>
  <title>Hmmshopping</title>





  <%= analytics_init if Rails.env.production? %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>






<div id="header">
  
  <h1><%= link_to "The Perfect HMM Shop", "/" %></h1>

  
</div>







<div class="maincontent">
  






      <div class="col_left">
        <!-- Column 1 start -->
        <h2>Left Menu</h2>
        
        <!-- Column 1 end -->
      </div>















      <div class="col_center">
        <!-- Column 2 start -->
        
        <div id = "mainbox1">

          <h2> details of the label here!</h2>
          <%= yield %>


        </div>



        <div id = "mainbox2">

          <h2> list of labels as clickable buttons buttons grouped under use cases roughly</h2>



          <table style="width:100%">
            <tr>
              
              <td> Corporate</td>


              <td><%= link_to "About US", {controller: "corporates", action: "aboutus"}, class: "labels" %></td>

              <td><%= link_to "Careers", {controller: "corporates", action: "careers"}, class: "labels" %></td>

              <td><%= link_to "Cookies", {controller: "corporates", action: "cookies"}, class: "labels" %></td>

              <td><%= link_to "Copyright", {controller: "corporates", action: "copyright"}, class: "labels" %></td>

              <td><%= link_to "Press Releases", {controller: "corporates", action: "pressreleases"}, class: "labels" %></td>

              <td><%= link_to "Privacy", {controller: "corporates", action: "privacy"}, class: "labels" %></td>

              <td><%= link_to "Terms and Conditions", {controller: "corporates", action: "termsnconditions"}, class: "labels" %></td>
           
            </tr>
            <tr>
                 
              <td> Forum Posts </td>


              <td><%= link_to "Post a Review or Comment", {controller: "forum_posts", action: "postareviewncomment"}, class: "labels" %></td>
            </tr>

            <tr>

              <td> Customer Services </td>


              <td><%= link_to "Contact Us", {controller: "customerservices", action: "contactus"}, class: "labels" %></td>
              <td><%= link_to "FAQs", {controller: "customerservices", action: "faqs"}, class: "labels" %></td>

              <td><%= link_to "Help", {controller: "customerservices", action: "help"}, class: "labels" %></td>
              <td><%= link_to "Send Feedback", {controller: "customerservices", action: "sendfeedback"}, class: "labels" %></td>


            </tr>


            <tr>
                    

              <td>  Technical Info </td>


              <td><%= link_to "Mobile Apps", {controller: "technicalinfos", action: "mobileapps"}, class: "labels" %></td>
              <td><%= link_to "Tools", {controller: "technicalinfos", action: "tools"}, class: "labels" %></td>

              <td><%= link_to "Downloads", {controller: "technicalinfos", action: "downloads"}, class: "labels" %></td>

            </tr>


            <tr>
                      
              <td> Keep me posted </td>


              <td><%= link_to "Subscribe", {controller: "keepmeposteds", action: "subscribe"}, class: "labels" %></td>
              <td><%= link_to "View Notifications", {controller: "keepmeposteds", action: "viewnotifications"}, class: "labels" %></td>

            </tr>


            <tr>
                  

              <td> My Account </td>


              <td><%= link_to "Login Page", {controller: "my_accounts", action: "loginpage"}, class: "labels" %></td>
              <td><%= link_to "logout", {controller: "my_accounts", action: "logout"}, class: "labels" %></td>

              <td><%= link_to "View History", {controller: "my_accounts", action: "viewhistory"}, class: "labels" %></td>

              <td><%= link_to "View Profile", {controller: "my_accounts", action: "viewprofile"}, class: "labels" %></td>

              <td><%= link_to "Edit Profile", {controller: "my_accounts", action: "editprofile"}, class: "labels" %></td>

              <td><%= link_to "Settings Profile", {controller: "my_accounts", action: "settingsprofile"}, class: "labels" %></td>

              <td><%= link_to "Edit Credentials", {controller: "my_accounts", action: "editcredentials"}, class: "labels" %></td>
              <td><%= link_to "Create an Account", {controller: "my_accounts", action: "createanaccount"}, class: "labels" %></td>


            </tr>


            <tr>
             
              <td> Shopping </td>


              <td><%= link_to "View Cart", {controller: "shoppings", action: "viewcart"}, class: "labels" %></td>
                            <td><%= link_to "Edit Cart", {controller: "shoppings", action: "editcart"}, class: "labels" %></td>

              <td><%= link_to "Add to shopping cart", {controller: "shoppings", action: "addtoshoppingcart"}, class: "labels" %></td>

              <td><%= link_to "Proceed to checkoutnconfirm", {controller: "shoppings", action: "proceedtocheckoutnconfirm"}, class: "labels" %></td>

            </tr>



            <tr>
             
              <td> Search_n_view_items </td>


              <td><%= link_to "Search an Item", {controller: "searchn_view_items", action: "searchanitem"}, class: "labels" %></td>
                            <td><%= link_to "View an Item", {controller: "searchn_view_items", action: "viewanitem"}, class: "labels" %></td>

              <td><%= link_to "View recommended items", {controller: "searchn_view_items", action: "viewrecommendeditems"}, class: "labels" %></td>

              

            </tr>






          </table>


        </div>









        <!-- Column 2 end -->
      </div>







      <div class="col_right">
        <!-- Column 3 start -->
        Right Column Stuff
        
      </div>
  
</div>






<div id="footer">
  

     Footer Stuff Here
</div>


























</body>
</html>
