<!DOCTYPE html>
<html>
<head>
  <title>Hmmshopping</title>





  <%= analytics_init if Rails.env.production? %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>






<div id="header">
  
  <h1>The Perfect HMM Shop</h1>
  
  
</div>







<div class="maincontent">
  






      <div class="col_left">
        <!-- Column 1 start -->
        <h2>Left Menu</h2>
        
        <!-- Column 1 end -->
      </div>















      <div class="col_center">
        <!-- Column 2 start -->
        
        <div id = "mainbox1">

          <h2> details of the label here!</h2>
          <%= yield %>


        </div>



        <div id = "mainbox2">

          <h2> list of labels as clickable buttons buttons grouped under use cases roughly</h2>



          <table style="width:100%">
            <tr>
              
              <td><%= link_to "ForumPosts", {controller: "forum_posts", action: "index"}, class: "labels" %></td>
              <td><%= link_to "ForumPosts", {controller: "forum_posts", action: "index"}, class: "labels" %></td>
              <td><%= link_to "ForumPosts", {controller: "forum_posts", action: "index"}, class: "labels" %></td>
              <td><%= link_to "ForumPosts", {controller: "forum_posts", action: "index"}, class: "labels" %></td>
              <td><%= link_to "ForumPosts", {controller: "forum_posts", action: "index"}, class: "labels" %></td>
              <td><%= link_to "ForumPosts", {controller: "forum_posts", action: "index"}, class: "labels" %></td>
              <td><%= link_to "ForumPosts", {controller: "forum_posts", action: "index"}, class: "labels" %></td>
              <td><%= link_to "ForumPosts", {controller: "forum_posts", action: "index"}, class: "labels" %></td>
              <td><%= link_to "ForumPosts", {controller: "forum_posts", action: "index"}, class: "labels" %></td>
              <td><%= link_to "ForumPosts", {controller: "forum_posts", action: "index"}, class: "labels" %></td>
              <td><%= link_to "ForumPosts", {controller: "forum_posts", action: "index"}, class: "labels" %></td>
              <td><%= link_to "ForumPosts", {controller: "forum_posts", action: "index"}, class: "labels" %></td>
              <td><%= link_to "ForumPosts", {controller: "forum_posts", action: "index"}, class: "labels" %></td>
              <td><%= link_to "ForumPosts", {controller: "forum_posts", action: "index"}, class: "labels" %></td>
           
            </tr>
            <tr>
              <td>Eve</td>
              <td>Jackson</td> 
              <td>94</td>
            </tr>
          </table>


        </div>









        <!-- Column 2 end -->
      </div>







      <div class="col_right">
        <!-- Column 3 start -->
        Right Column Stuff
        
      </div>
  
</div>






<div id="footer">
  

     Footer Stuff Here
</div>


























</body>
</html>
